@use '../../../variables';

$block: '.#{variables.$ns}footer-item';

#{$block} {
    $class: &;

    height: var(--_--item-height);

    &_layout {
        &_horizontal {
            display: flex;
            justify-content: center;
        }

        &_vertical {
            width: 100%;
            border-radius: var(--gn-aside-header-item-expanded-radius);
        }

        &_vertical:not(#{$class}_footer-bar) {
            margin-bottom: 2px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}
