@use '../../../../variables';

$block: '.#{variables.$ns}composite-bar-highlighted-item';

#{$block} {
    --_--background-color: var(--g-color-base-background);
    --_--item-background-color-hover: var(--g-color-base-selection-hover);
    --_--item-selected-background-color-active: var(--g-color-base-selection);

    position: absolute;
    z-index: 10000;
    display: flex;
    justify-content: center;

    &__icon {
        width: var(--_--item-height);
        height: var(--_--item-height);
        border-radius: 7px;
        cursor: pointer;
        background-color: var(--gn-aside-header-background-color, var(--_--background-color));
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transform: translateY(1px);
        overflow: hidden;
        box-shadow: 0 8px 20px 0 var(--g-color-sfx-shadow);

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;

            background-color: var(
                --gn-aside-header-item-current-background-color,
                var(--_--item-selected-background-color-active)
            );
        }

        &:hover::before {
            background-color: var(
                --gn-aside-header-item-background-color-hover,
                var(--_--item-background-color-hover)
            );
        }
    }
}
