@use '../variables';

$block: '.#{variables.$ns}composite-bar';

#{$block} {
    $class: &;

    flex: 1 0 auto;
    width: 100%;
    min-height: 40px;

    & &__root-menu-item[class] {
        background-color: transparent;
    }

    &__list_hover::after{
        content: '';
        position: absolute;
        inset: 0;
        border: solid 1px red;
    }

    &__list:hover > div > div:first-child {
        transform: translateY(0);
        outline: solid 2px var(--g-color-line-info);
    }
}
