@import '../../../../styles/mixins';

.hotkeys-panel-showcase {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    &__header {
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid var(--g-color-line-generic);
    }

    &__title {
        display: flex;
        gap: 8px;
        align-items: baseline;
    }

    &__body {
        position: absolute;
        top: 77px;
        background-color: var(--g-color-base-generic);
        height: 100vh;
        width: 100%;
    }

    &__empty {
        margin: 48px auto 0;
        font-size: var(--g-text-header-1-font-size);
        line-height: var(--g-text-header-1-line-height);
        color: var(--g-color-text-primary);
    }
}
