# Settings
.idea
.DS_Store
.vscode

# Libs
node_modules

# Generated content
build

# other files
pnpm-lock.yaml

#Playwright
/playwright/playwright/.cache
/playwright-report
/test-results

# other files
pnpm-lock.yaml
