@use '../../../variables';

$block: '.#{variables.$ns}composite-bar';

#{$block} {
    $class: &;

    --gn-aside-header-item-expanded-radius: 6px;
    --gn-aside-main-background-color: transparent;

    flex: 1 1 auto;
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: column;

    background-color: var(--gn-aside-main-background-color);

    & &__root-menu-item[class] {
        background-color: transparent;
    }

    &__menu-group-item,
    &__menu-group-header,
    &__root-menu-item[class] {
        margin-bottom: 2px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &_scrollable {
        flex: 1 1 auto;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__root-menu-item {
        &:has(#{$class}__menu-group) {
            align-items: flex-start;

            > :global(.g-list__item-sort-icon) {
                top: 12px;
                position: relative;
            }
        }

        &:has(#{$class}__menu-group):not(#{$class}__root-menu-item_compact) {
            :global(.g-list__item-content) {
                overflow: visible;
            }
        }
    }

    &__menu-group {
        width: 100%;
        height: 100%;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-left: 2px solid
                var(--gn-aside-main-group-border-color, var(--g-color-line-generic));
            border-radius: 0;
            transition: border-radius 0.15s ease-out;
            background-color: var(--gn-aside-main-group-item-background-color, transparent);
        }

        &:hover:before {
            border-color: var(
                --gn-aside-main-group-border-color-hover,
                var(--g-color-line-generic)
            );
        }
    }

    &__menu-group-header,
    &__menu-group-item {
        height: 36px;
    }

    &__menu-group-item {
        position: relative;

        &:last-child {
            #{$class}__group-item {
                border-radius: 0 0 var(--gn-aside-header-item-expanded-radius)
                    var(--gn-aside-header-item-expanded-radius);
            }
        }

        &_edit {
            &:not(#{$class}__menu-group-item_compact) {
                left: -16px;

                width: calc(100% + 16px);
            }
        }
    }

    &__menu-group-header {
        &:not(&_collapsed) {
            border-radius: var(--gn-aside-header-item-expanded-radius)
                var(--gn-aside-header-item-expanded-radius) 0 0;
        }
    }

    &__menu-item_type_regular,
    &__root-menu-item[class]:hover,
    &__menu-group:hover:before,
    &__menu-group_expanded:before {
        border-radius: var(--gn-aside-header-item-expanded-radius);
    }

    &__root-menu-item[class] {
        transition: border-radius 0.15s ease-out;
    }

    &__menu-group-toggle,
    &__menu-group-toggle-placeholder {
        width: 24px;
        height: 24px;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    &__menu-group-toggle {
        margin-left: auto;
    }

    &__menu-group-icon {
        margin-right: var(--g-spacing-3);
    }

    &__menu-item[data-type='action'] {
        margin-inline: 10px;
    }
}
