@use '../../variables';

@import '../../../../styles/mixins';

$block: '.#{variables.$ns}mobile-header-logo';

#{$block} {
    display: flex;
    align-items: center;
    overflow: hidden;

    gap: 8px;

    &:is(a) {
        &,
        &:hover,
        &:active,
        &:visited,
        &:focus {
            text-decoration: none;
            outline: none;
            color: var(--g-color-text-primary);
        }
    }

    &__icon {
        flex-shrink: 0;
    }

    &__title {
        @include text-header-1();
        @include overflow-ellipsis();
    }
}
