@use '../variables';

@import '../../../styles/mixins';

$block: '.#{variables.$ns}hotkeys-panel';

#{$block} {
    position: fixed;
    inset: 0;

    --hotkeys-panel-width: 400px;
    --hotkeys-panel-vertical-padding: 18px;
    --hotkeys-panel-horizontal-padding: 24px;

    &__drawer-item {
        width: var(--hotkeys-panel-width);
        padding: var(--hotkeys-panel-vertical-padding) 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin: 0 var(--hotkeys-panel-horizontal-padding) 16px
            var(--hotkeys-panel-horizontal-padding);
    }

    &__search {
        padding: 0 var(--hotkeys-panel-horizontal-padding);
        margin-bottom: 14px;
    }

    &__list {
        flex: 1;
        overflow-y: auto;
    }

    &__item {
        height: auto;
        padding: 8px var(--hotkeys-panel-horizontal-padding);

        &.g-list__item_active {
            background: inherit;
        }
    }

    &__item-content {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        width: 100%;

        font-size: var(--g-text-body-1-font-size);
        line-height: var(--g-text-body-1-line-height);

        color: var(--g-color-text-primary);

        &_group {
            font-size: var(--g-text-body-2-font-size);
            font-weight: 500;
            line-height: var(--g-text-body-2-line-height);
        }
    }

    &__hotkey {
        color: var(--g-color-text-complementary);
    }
}
