@use '../variables';

.gn-aside-header-next-menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1 0 auto;
    width: 100%;
    min-height: #{variables.$item-height};
    padding-inline: var(--_--item-margin-inline, #{variables.$item-margin-inline});
    box-sizing: border-box;
}
