@use '../../../variables';

.#{variables.$ns}all-pages-panel {
    min-width: 300px;
    height: 100%;
    padding: var(--g-spacing-4) var(--g-spacing-6);
    box-sizing: border-box;

    &__content {
        overflow: auto;
        flex: 1;

        margin: 0 calc(var(--g-spacing-6) * -1);

        &_edit-mode {
            padding-left: var(--g-spacing-6);
        }
    }

    &__category {
        padding: 0 var(--g-spacing-6);
    }

    &__discoverable-feature-wrapper {
        display: flex;
    }

    &__item_editMode {
        padding-left: var(--g-spacing-6);
    }

    &__groups-container {
        width: 100%;

        &:not(:last-child) {
            padding-bottom: var(--g-spacing-2);
            border-bottom: 1px solid var(--g-color-line-generic);
        }
    }
}
