@use '../../../../styles/mixins';
@use '../../variables';

$block: '.#{variables.$ns}footer';

#{$block}_desktop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    padding: 0 var(--g-spacing-6) 0 var(--g-spacing-3);
    gap: var(--g-spacing-6);
    background: var(--g-color-base-background);

    #{$block} {
        &__menu {
            display: flex;
            flex: 1;
            align-items: center;
            align-self: stretch;
            min-width: 0;

            visibility: hidden;

            &_measured {
                visibility: visible;
            }
        }

        &__list[class] {
            background-color: inherit;
            display: flex;

            height: 100%;
            padding: 0;
        }

        &__more-button svg {
            color: var(--g-color-text-secondary);
        }

        &__right {
            display: flex;
            align-items: center;
            gap: var(--g-spacing-5);
        }

        &__copyright {
            @include mixins.text-body-1;
            color: var(--g-color-text-secondary);
            white-space: nowrap;

            &_small {
                @include mixins.text-caption-2;
            }
        }
    }
}

#{$block}_with-divider {
    border-top: 1px solid var(--g-color-line-generic);
}

#{$block}_view_clear {
    background: transparent;
    z-index: -1;
}
