@use '../variables';

$block: '.#{variables.$ns}logo';

#{$block} {
    display: flex;
    align-items: center;
    height: 40px;

    &__btn-logo {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: flex-start;
        cursor: pointer;
        width: 100%;
        word-break: break-word;
        overflow-wrap: break-word;

        &,
        &:hover,
        &:active,
        &:visited,
        &:focus {
            text-decoration: none;
            outline: none;
            color: inherit;
        }
        &:focus-visible {
            outline: solid var(--g-color-line-misc);
            outline-offset: -2px;
        }
    }

    &__logo {
        margin: 0 var(--g-spacing-4) 0 var(--g-spacing-2);
    }

    &__logo-icon-place {
        width: 36px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }
}
