@use '../variables';
@import '../../../styles/mixins';

$block: '.#{variables.$ns}logo';

#{$block} {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 40px;

    &__logo-btn-place {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        & .yc-button::before {
            background-color: transparent;
        }
    }

    &__logo {
        @include text-body-2;
        vertical-align: middle;
        cursor: pointer;
    }

    &__logo-link {
        &,
        &:hover,
        &:active,
        &:visited,
        &:focus {
            text-decoration: none;
            outline: none;
            color: inherit;
        }
    }

    .g-root &__btn-logo.button2_theme_flat.button2_hovered_yes::before {
        background-color: transparent;
    }
}
