@use '../../../../variables';
@use '../../../../../../styles/mixins';

$block: '.#{variables.$ns}composite-bar-item';

$actionLeftRightMargin: 10px;

#{$block} {
    @include mixins.accessibility-button;

    $class: &;
    --gn-composite-bar-item-action-size: 36px;
    --_--item-icon-background-size: 36px;

    --_--horizontal-divider-line-color: var(--g-color-line-generic);

    --_--item-background-color-hover: var(--g-color-base-simple-hover);

    --_--item-general-icon-color: var(--g-color-text-primary);
    --_--item-icon-color: var(--g-color-text-complementary);
    --_--item-text-color: var(--g-color-text-primary);
    --_--item-collapsed-radius: 7px;

    // selected item
    --_--item-selected-text-color: var(--g-color-text-primary);
    --_--item-selected-background-color: var(--g-color-base-selection);

    // Zone-aware background variables (overridden by zone context)
    // Default values use --gn-aside-header-item-* for root items compatibility
    --_--zone-bg: transparent;
    --_--zone-bg-hover: var(
        --gn-aside-header-item-background-color-hover,
        var(--_--item-background-color-hover)
    );
    --_--zone-current-bg: var(
        --gn-aside-header-item-current-background-color,
        var(--_--item-selected-background-color)
    );
    --_--zone-current-bg-hover: var(
        --gn-aside-header-item-current-background-color-hover,
        var(--_--zone-current-bg)
    );

    display: flex;
    min-width: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    cursor: pointer;
    padding: 0;

    // Top zone (subheader) variable overrides
    :global(.#{variables.$ns}composite-bar_subheader) & {
        --_--zone-bg: var(--gn-aside-top-item-background-color, transparent);
        --_--zone-bg-hover: var(
            --gn-aside-top-item-background-color-hover,
            var(--_--item-background-color-hover)
        );
        --_--zone-current-bg: var(
            --gn-aside-top-item-current-background-color,
            var(--_--item-selected-background-color)
        );
        --_--zone-current-bg-hover: var(
            --gn-aside-top-item-current-background-color-hover,
            var(--_--zone-current-bg)
        );
    }

    // Main zone (group items) variable overrides
    :global(.#{variables.$ns}composite-bar__menu-group_wrapper) & {
        --_--zone-bg-hover: var(
            --gn-aside-main-group-item-background-color-hover,
            var(--_--item-background-color-hover)
        );
        --_--zone-current-bg: var(
            --gn-aside-main-group-item-current-background-color,
            var(--_--item-selected-background-color)
        );
        --_--zone-current-bg-hover: var(
            --gn-aside-main-group-item-current-background-color-hover,
            var(--_--zone-current-bg)
        );
    }

    // Bottom zone (footer) variable overrides
    :global(.#{variables.$ns}footer-item) & {
        --_--zone-bg-hover: var(
            --gn-aside-bottom-item-background-color-hover,
            var(--_--item-background-color-hover)
        );
        --_--zone-current-bg: var(
            --gn-aside-bottom-item-current-background-color,
            var(--_--item-selected-background-color)
        );
        --_--zone-current-bg-hover: var(
            --gn-aside-bottom-item-current-background-color-hover,
            var(--_--zone-current-bg)
        );
    }

    // Mixin for compact mode background
    @mixin item-bg {
        position: relative;
        background-color: transparent;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            width: var(
                --gn-aside-header-item-icon-background-size,
                var(--_--item-icon-background-size)
            );
            height: var(
                --gn-aside-header-item-icon-background-size,
                var(--_--item-icon-background-size)
            );
            margin-top: -18px;
            margin-left: -18px;
            border-radius: var(
                --gn-aside-header-item-collapsed-radius,
                var(--_--item-collapsed-radius)
            );
        }
    }

    // Background styles - applies to all items (zone variables are overridden by zone context)
    &#{$class}_type_regular {
        background-color: var(--_--zone-bg);

        #{$class}__btn-icon {
            @include item-bg();
        }
    }

    &#{$class}_current#{$class}_type_regular {
        background-color: var(--_--zone-current-bg);
    }

    &:hover#{$class}_type_regular {
        background-color: var(--_--zone-current-bg-hover);
    }

    &:not(#{$class}_current):hover#{$class}_type_regular {
        background-color: var(--_--zone-bg-hover);
    }

    &__icon {
        // FIXME: fix hack in the next major
        &-tooltip .g-action-tooltip__description {
            color: var(--g-color-text-light-primary);
            margin-block-start: 0px;
        }
    }

    &__icon-place {
        flex-shrink: 0;
        width: var(--_--item-icon-background-size, 36px);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: var(--gn-aside-header-item-icon-color, var(--_--item-icon-color));

        #{$class}_current & {
            color: var(
                --gn-aside-main-group-item-current-background-color,
                var(
                    --gn-aside-header-item-current-icon-color,
                    var(--gn-aside-header-item-icon-color, var(--_--item-icon-color))
                )
            );
        }

        :global(.#{variables.$ns}composite-bar-highlighted-item) & {
            color: var(
                --gn-aside-header-general-item-icon-color,
                var(--_--item-general-icon-color)
            );
        }

        :global(.#{variables.$ns}composite-bar-highlighted-item) #{$class}_current & {
            color: var(
                --gn-aside-header-item-current-icon-color,
                var(--gn-aside-header-general-item-icon-color, var(--_--item-general-icon-color))
            );
        }

        :global(.#{variables.$ns}composite-bar_subheader) & {
            color: var(
                --gn-aside-top-item-icon-color,
                var(--gn-aside-header-general-item-icon-color, var(--_--item-general-icon-color))
            );
        }

        :global(.#{variables.$ns}composite-bar_subheader) #{$class}_current & {
            color: var(
                --gn-aside-top-item-current-icon-color,
                var(
                    --gn-aside-header-item-current-icon-color,
                    var(
                        --gn-aside-header-general-item-icon-color,
                        var(--_--item-general-icon-color)
                    )
                )
            );
        }

        // Footer (Bottom zone) icon color
        :global(.#{variables.$ns}footer-item) & {
            color: var(
                --gn-aside-bottom-item-icon-color,
                var(--gn-aside-header-general-item-icon-color, var(--_--item-general-icon-color))
            );
        }

        :global(.#{variables.$ns}footer-item) #{$class}_current & {
            color: var(
                --gn-aside-bottom-item-current-icon-color,
                var(--gn-aside-header-item-current-icon-color, var(--_--item-general-icon-color))
            );
        }
    }

    &__title {
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: space-between;
        margin: 0 var(--g-spacing-4) 0 var(--g-spacing-2);
    }

    &__transition-title {
        @include mixins.opacity-transition(50ms, ease-in-out);
    }

    &__visibility-button {
        margin-left: auto;
    }

    &__title-text {
        /* stylelint-disable-next-line value-no-vendor-prefix */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        /* NOTE @vladimir-kuba: 2 lines fits in container height, more lines leads overflow container */
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-align: start;

        color: var(--gn-aside-header-item-text-color, var(--_--item-text-color));

        #{$class}_current & {
            color: var(
                --gn-aside-header-item-current-text-color,
                var(--_--item-selected-text-color)
            );
        }

        :global(.#{variables.$ns}composite-bar_subheader) & {
            color: var(--gn-aside-top-item-text-color, var(--_--item-text-color));
        }

        :global(.#{variables.$ns}composite-bar_subheader) #{$class}_current & {
            color: var(--gn-aside-top-item-current-text-color, var(--_--item-selected-text-color));
        }

        // Footer (Bottom zone) text color
        :global(.#{variables.$ns}footer-item) & {
            color: var(--gn-aside-bottom-item-text-color, var(--_--item-text-color));
        }

        :global(.#{variables.$ns}footer-item) #{$class}_current & {
            color: var(
                --gn-aside-bottom-item-current-text-color,
                var(--_--item-selected-text-color)
            );
        }
    }

    &__title-adornment {
        margin: 0 10px;
    }

    &__collapse-item {
        @include mixins.accessibility-button;

        --_--item-icon-color: var(--g-color-text-misc);

        display: flex;
        padding: 0 16px;
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &-icon {
            color: var(--gn-aside-header-item-icon-color, var(--_--item-icon-color));
            margin-right: 10px;
        }

        #{$class}__title-adornment {
            margin-right: 0;
        }
    }

    &__menu-divider {
        margin: 0 10px;
        width: 100%;
        border-top: 1px solid
            var(--gn-aside-header-divider-horizontal-color, var(--_--horizontal-divider-line-color));
        cursor: default;
    }

    &__collapse-items-popup-content {
        padding: 4px 0;
    }

    &__link {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;

        &,
        &:hover,
        &:active,
        &:visited,
        &:focus {
            text-decoration: none;
            outline: none;
            color: inherit;
        }
    }

    &__btn-icon {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_type_action {
        justify-content: center;
        height: var(--gn-composite-bar-item-action-size);
        margin-bottom: var(--g-spacing-2);
        background: var(--g-color-base-float);
        box-shadow:
            0px 0px 0px 1px rgba(0, 0, 0, 0.03),
            0px 5px 6px rgba(0, 0, 0, 0.12);
        border-radius: var(--gn-composite-bar-item-action-size);
        transition:
            transform 0.1s ease-out,
            background-color 0.15s linear;

        &:focus-visible {
            box-shadow: 0 0 0 2px var(--g-color-line-misc);
        }

        &:hover {
            background-color: var(--g-color-base-float-hover);
        }

        &:active {
            box-shadow: 0 1px 2px var(--g-color-sfx-shadow);
            transition: none;
            transform: scale(0.96);
        }

        & #{$class}__icon-place {
            width: var(--gn-composite-bar-item-action-size);
        }

        &:global(.#{variables.$ns}footer-item) {
            width: calc(100% - 2 * $actionLeftRightMargin);
        }
    }

    &__icon-tooltip_item-type_action {
        margin-left: 10px;
    }

    &_collapsed {
        &#{$class}_type_action {
            width: var(--gn-composite-bar-item-action-size);

            & #{$class}__title {
                margin: 0;
            }
        }
    }
}
