@use '../../../../variables';

$block: '.#{variables.$ns}scrollable-with-scrollbar';

#{$block} {
    &_scrollable {
        flex: 1 1 auto;
        position: relative;
        width: 100%;
        min-height: 0;
    }

    &__scrollable-inner {
        width: 100%;
        height: 100%;
        overflow: hidden auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__scrollbar {
        position: absolute;
        top: 0;
        right: 2px;
        bottom: 0;
        width: var(--g-spacing-1);
        padding: 2px 0;
        box-sizing: border-box;
    }

    &__scrollbar-track {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        background: var(--gn-aside-scrollbar-track-color, transparent);
    }

    &__scrollbar-thumb {
        position: absolute;
        left: 0;
        width: 100%;
        min-height: 20px;
        background: var(--gn-aside-scrollbar-handle-color, var(--g-color-line-generic-solid));
        cursor: grab;

        &:hover {
            background: var(
                --gn-aside-scrollbar-handle-color-hover,
                var(--gn-aside-scrollbar-handle-color, var(--g-color-line-generic-solid))
            );
        }

        &:active {
            cursor: grabbing;
        }
    }
}
