@mixin left {
    margin: {
        left: 0;
        right: auto;
    }
    justify-content: flex-start;
}

@mixin right {
    margin: {
        left: auto;
        right: 0;
    }
    justify-content: flex-end;
}

@mixin center {
    margin: {
        left: auto;
        right: auto;
    }
    justify-content: center;
}

@mixin modifiers {
    &_pull_left {
        @include left;

        &-grow {
            flex-grow: 1;
        }
    }

    &_pull_right {
        @include right;

        &-grow {
            flex-grow: 1;
        }
    }

    &_pull_center {
        @include center;

        &-grow {
            flex-grow: 1;
        }
    }
}
