.item-tooltip {
    &.yc-popup {
        animation-name: none;
        box-shadow: none;
        border: none;
    }

    &__text {
        padding: 6px 12px;
        background-color: var(--yc-color-base-float-heavy);
        color: var(--yc-color-text-light-primary);
        border-radius: 4px;
    }
}
