@use '../variables';

$block: '.#{variables.$ns}aside-header';

.g-root {
    --gn-aside-header-background-color: var(--g-color-base-warning-light);
    --gn-aside-header-collapse-button-divider-line-color: var(
        --gn-aside-header-subheader-divider-line-color
    );
    --gn-aside-header-footer-item-icon-color: var(--g-color-text-primary);
    --gn-aside-header-subheader-item-icon-color: var(--g-color-text-primary);
    --gn-aside-header-item-icon-background-size: 38px;
}

.g-root_theme_light,
.g-root_theme_light-hc {
    --gn-aside-header-divider-line-color: var(--g-color-line-generic);
    --gn-aside-header-subheader-divider-line-color: var(--g-color-line-generic);
}

.g-root_theme_dark,
.g-root_theme_dark-hc {
    --gn-aside-header-divider-line-color: var(--g-color-line-generic-solid);
    --gn-aside-header-subheader-divider-line-color: var(--g-color-line-generic-solid);
}

#{$block} {
    $class: &;
    --gn-aside-header-min-width: 56px;

    height: 100%;
    width: 100%;
    position: relative;
    background-color: var(--g-color-base-background);

    &__aside {
        position: sticky;
        top: 0;
        left: 0;
        height: 100vh;
        width: inherit;
        display: flex;
        flex-direction: column;
        background-color: var(--g-color-base-background);
        z-index: 100;

        box-sizing: border-box;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            width: 1px;
            height: 100%;
            content: '';
            background-color: var(--gn-aside-header-divider-line-color);
        }

        &-popup-anchor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }

        &-content {
            --gradient-height: 334px;

            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            width: inherit;
            height: inherit;
            position: relative;
            z-index: 2;
            user-select: none;

            & > #{$class}-logo {
                margin: 8px 0;
            }
        }

        &-content_with-decoration {
            background: linear-gradient(
                180deg,
                var(--gn-aside-header-background-color) calc(var(--gradient-height) * 0.33),
                transparent calc(var(--gradient-height) * 0.88)
            );
        }
    }

    &_compact &__aside {
        &-content {
            background: transparent;
        }
    }

    &__header {
        --gn-aside-header-header-divider-height: 29px;

        position: relative;
        z-index: 1;
        flex: none;
        box-sizing: border-box;
        width: calc(100%);
        padding-top: 8px;
        padding-bottom: 22px;

        #{$class}__header-divider {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -2;
            display: none;
            color: var(--gn-aside-header-background-color);
        }

        &_with-decoration::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
            display: none;
            width: 100%;
            height: calc(100% - var(--gn-aside-header-header-divider-height));
            content: '';
            background-color: var(--gn-aside-header-background-color);
        }

        &::after {
            position: absolute;
            bottom: 12px;
            left: 0;
            z-index: -2;
            width: 100%;
            height: 1px;
            content: '';
            background-color: var(--gn-aside-header-subheader-divider-line-color);
        }
    }

    &_compact &__header {
        &::before {
            display: block;
        }
    }

    &_compact &__header_with-decoration {
        #{$class}__header-divider {
            display: block;
        }

        &::after {
            display: none;
        }
    }

    &__menu-items {
        flex-grow: 1;
    }

    &__footer {
        flex-shrink: 0;
        width: 100%;
        margin: 8px 0;
        display: flex;
        flex-direction: column;
    }

    &__panels {
        z-index: 98;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow: auto;
    }

    &__panel {
        height: 100%;
    }

    &__pane-container {
        display: flex;
        outline: none;
        overflow: visible;
        user-select: text;
        flex-direction: row;
    }

    &_reverse #{$block}__pane-container {
        flex-direction: row-reverse;
    }

    &__content {
        width: calc(100% - var(--gn-aside-header-size));
        z-index: 95;
    }

    &__collapse-button {
        --yc-button-background-color-hover: transparent;

        // TODO: remove temporary fix for expand button
        & > .yc-button__text {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
        }

        overflow: hidden;
        box-sizing: border-box;
        flex: none;
        width: 100%;
        height: 20px;
        border-top: 1px solid var(--gn-aside-header-collapse-button-divider-line-color);
        margin-top: auto;

        &:not(&_compact) {
            #{$class}__collapse-icon {
                transform: rotate(180deg);
            }
        }

        #{$class}__collapse-icon {
            color: var(--g-color-text-secondary);
        }

        &:hover #{$class}__collapse-icon {
            color: var(--g-color-text-primary);
        }
    }
}
