@use '../../../variables';

$block: '.#{variables.$ns}collapse-button';

#{$block} {
    margin-right: 2px;
    margin-left: auto;

    &_compact {
        #{$block}__icon {
            transform: rotate(180deg);
        }
    }
}
