@use '../../../../variables';
@use '../../../../../../styles/mixins';

.#{variables.$ns}all-pages-list-item {
    @include mixins.accessibility-button;

    display: flex;
    align-items: center;

    width: 100%;
    height: 36px;
    padding: 0 var(--g-spacing-6);
    column-gap: var(--g-spacing-4);

    cursor: pointer;

    &__text {
        flex: 1;
        text-align: initial;
    }

    &__icon {
        color: var(--g-color-text-misc);
    }
}
