@use '../../../../variables';

$block: '.#{variables.$ns}multiple-tooltip';

.g-root_theme_dark #{$block},
.g-root_theme_dark-hc #{$block} {
    --multiple-tooltip-item-bg-color: var(
        --g-color-base-float-medium,
        var(--g-color-private-white-100-solid)
    );
    --multiple-tooltip-item-active-bg-color: var(--g-color-base-float-heavy);
    --multiple-tooltip-backdrop-background: linear-gradient(
        90deg,
        var(--g-color-base-background) 50%,
        transparent
    );
    --multiple-tooltip-backdrop-filter: blur(16px);
}

.g-root_theme_dark-hc #{$block} {
    --multiple-tooltip-item-bg-color: var(
        --g-color-base-float-medium,
        var(--g-color-private-white-150-solid)
    );
}

.g-root_theme_light #{$block},
.g-root_theme_light-hc #{$block} {
    --multiple-tooltip-item-bg-color: var(
        --g-color-base-float-medium,
        var(--g-color-private-black-550-solid)
    );
    --multiple-tooltip-item-active-bg-color: var(--g-color-base-float-heavy);
    --multiple-tooltip-backdrop-background: linear-gradient(
        90deg,
        var(--g-color-base-background) 50%,
        transparent
    );
    --multiple-tooltip-backdrop-filter: blur(12px);
}

#{$block} {
    &::before {
        content: '';
        box-shadow: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.7;
        background: var(--multiple-tooltip-backdrop-background);
        filter: var(--multiple-tooltip-backdrop-filter);
    }

    @at-root .g-popup#{&}__popup,
        &__popup {
        --g-popup-background-color: transparent;
        --g-popup-border-color: transparent;
        --g-popup-border-width: 0;

        box-shadow: none;
        background-color: transparent;
    }

    &__items-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px 40px 32px 12px;
    }

    &__item {
        display: flex;
        box-sizing: border-box;
        height: 30px;
        padding: 8px 12px;
        background-color: var(--multiple-tooltip-item-bg-color);
        position: relative;
        border-radius: 5px;
        align-items: center;
        color: var(--g-color-text-light-primary);
        margin-bottom: 5px;
        transition: transform 100ms ease-in-out;

        &:not(&_divider) + &:not(&_divider),
        &:first-child {
            margin-top: 5px;
        }

        &_divider + &:not(&_divider) {
            margin-top: 4px;
        }

        &_active {
            background-color: var(--multiple-tooltip-item-active-bg-color);
            transform: translateX(-12px);
        }

        &_divider {
            height: 15px;
            visibility: hidden;
            margin: 0;
        }
    }
}
