@import '../../../../../styles/mixins';

.burger-menu-showcase {
    --gn-aside-header-min-width: 56px;

    width: 320px;

    &__item-accent {
        color: var(--g-color-text-misc);
    }

    &__modal-item {
        padding: 20px;
    }
}
