@import '../../../../styles/mixins';

.composite-bar-showcase {
    --aside-header-min-width: 56px;

    display: flex;
    height: 200px;

    &__tag {
        color: var(--g-color-text-positive);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.3px;
    }

    &__item-accent {
        @include text-accent;
        width: 100%;
        height: 100%;
    }
}
