.drawer-showcase {
    display: flex;
    flex-direction: column;
    position: relative;

    &__header {
        width: 100%;
        height: 56px;
        border-bottom: 1px solid var(--yc-color-line-generic);
    }

    &__drawer {
        width: 300px;
        height: 300px;
        overflow: hidden;
        position: relative;
    }

    &__item-1 {
        height: 100%;
        width: 120px;
        background-color: var(--yc-color-infographics-info-heavy);
    }

    &__item-2 {
        height: 100%;
        width: 100px;
        background-color: var(--yc-color-infographics-positive-heavy);
    }
}
