@import '~@gravity-ui/uikit/styles/mixins';

.settings-mobile-demo {
    height: 100%;

    &__select {
        border-radius: 10px;
    }

    &__appearance-header {
        @include text-body-2;
    }
}
