@use '~@gravity-ui/uikit/styles/mixins';

.settings-demo {
    height: 100%;

    &__header {
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid var(--g-color-line-generic);
    }

    &__checkbox + &__checkbox {
        margin-top: 10px;
    }

    &__appearance-header {
        margin-top: 10px;
    }

    &__item-button {
        @include mixins.button-reset();

        color: var(--g-color-text-link);

        &:hover {
            color: var(--g-color-text-link-hover);
        }
    }
}
