@use '../../variables';
@use '../mixins/pull';

$block: '.#{variables.$ns}action-bar-group';

#{$block} {
    @include pull.modifiers;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
}
