@use '~@gravity-ui/uikit/styles/mixins' as *;
@use '../../variables';

$block: '.#{variables.$ns}mobile-header-burger';

#{$block} {
    $class: &;
    @include mixins.button-reset();

    &_opened {
        #{$class}__icon {
            &:before,
            &:after,
            #{$class}__icon-dash {
                left: 3px;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }

            #{$class}__icon-dash {
                opacity: 0;
            }
        }
    }

    &__icon {
        display: flex;
        place-content: center;
        height: var(--mobile-header-icon-size);
        width: var(--mobile-header-icon-size);
        position: relative;

        &:after,
        &:before {
            content: '';
            transform-origin: left center;
            transition:
                transform 0.2s,
                left 0.2s;
        }

        &:before {
            top: 2px;
        }

        &:after {
            bottom: 2px;
        }

        &:before,
        &:after,
        #{$class}__icon-dash {
            background-color: var(--g-color-text-primary);
            border-radius: 1px;
            height: 2px;
            left: 0;
            position: absolute;
            width: 100%;
        }

        #{$class}__icon-dash {
            margin-top: -1px;
            top: 50%;
            transition: opacity 0.2s;
        }
    }
}
