@use '~@gravity-ui/uikit/styles/mixins';
@use '../../variables';

$block: '.#{variables.$ns}mobile-header-footer-item';

#{$block} {
    $class: &;

    flex-grow: 1;
    position: relative;

    &__button {
        @include mixins.button-reset();

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 10px;
        width: 100%;
        box-sizing: border-box;
    }

    & &__icon {
        color: var(--g-color-text-misc);
    }

    & + & {
        &::before {
            content: '';
            border-left: 1px solid var(--g-color-base-generic);
            position: absolute;
            top: 8px;
            bottom: 8px;
            left: 0;
        }
    }

    &:empty {
        display: none;
    }
}
