@import '@gravity-ui/uikit/styles/mixins';

@mixin aside-header-button() {
    &_current::before {
        background-color: var(--g-color-base-selection);
    }

    .g-root &_current.g-button_view_flat:hover::before {
        background-color: var(--g-color-base-selection-hover);
    }
}
