@mixin aside-header-button() {
    &_current::before {
        background-color: var(--g-color-base-selection);
    }

    .g-root &_current.g-button_view_flat:hover::before {
        background-color: var(--g-color-base-selection-hover);
    }
}

@mixin accessibility-button() {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    outline: inherit;
    text-decoration: inherit;

    &:focus-visible {
        outline: solid var(--g-color-line-misc);
        outline-offset: -2px;
    }
}

@mixin opacity-transition($duration: 50ms, $easing: ease-in-out) {
    &-enter {
        opacity: 0;
    }

    &-enter-active {
        opacity: 0;
    }

    &-enter-done {
        opacity: 1;
        transition: opacity $duration $easing;
    }

    &-exit {
        opacity: 1;
        transition: opacity $duration $easing;
    }

    &-exit-active {
        opacity: 0;
    }

    &-exit-done {
        opacity: 0;
    }
}
