@mixin gn-theme-light {
    --gn-ah-background-color: var(--g-color-base-neutral-light);
    --gn-ah-decoration-background-color: var(--g-color-private-yellow-200);
    --gn-ah-selected-item-background-color: var(--g-color-private-orange-200);
    --gn-ah-hovered-item-background-color: var(--g-color-private-black-50);
}

@mixin gn-theme-light-hc {
    --gn-ah-background-color: var(--g-color-base-neutral-light);
    --gn-ah-decoration-background-color: var(--g-color-private-yellow-300);
    --gn-ah-selected-item-background-color: var(--g-color-private-orange-300);
    --gn-ah-hovered-item-background-color: var(--g-color-private-black-150);
}

@mixin gn-theme-dark {
    --gn-ah-background-color: rgb(17, 14, 17); // TODO add private color in uikit
    --gn-ah-decoration-background-color: var(--g-color-private-yellow-150);
    --gn-ah-selected-item-background-color: var(--g-color-private-orange-200);
    --gn-ah-hovered-item-background-color: var(--g-color-private-white-150);
}

@mixin gn-theme-dark-hc {
    --gn-ah-background-color: rgb(5, 5, 5); // TODO add private color in uikit
    --gn-ah-decoration-background-color: var(--g-color-private-yellow-250);
    --gn-ah-selected-item-background-color: var(--g-color-private-orange-250);
    --gn-ah-hovered-item-background-color: var(--g-color-private-white-250);
}
