@use '../../styles/variables.scss' as variables;
@use 'sass:map';

$block: '.info-buttons';

#{$block} {
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 22px;
    }

    &__buttons {
        text-align: center;
    }

    &__button {
        display: inline-block;
        margin: 0 4px;

        @media (max-width: (map.get(variables.$gridBreakpoints, 'md') - 1)) {
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}
