# Unpublish a version of @gravity-ui/navigation from npm
# Runs manually in Actions tab in github

name: Unpublish release

on:
    workflow_dispatch:
        inputs:
            version:
                type: string
                required: true
                description: 'Version to unpublish, e.g. 3.0.0-beta.0'

jobs:
    unpublish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/setup-node@v1
              with:
                  node-version: 18
                  registry-url: 'https://registry.npmjs.org'
            - name: Unpublish version
              run: npm unpublish @gravity-ui/navigation@${{ github.event.inputs.version }}
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GRAVITY_UI_BOT_NPM_TOKEN }}
